.horizontal-align div { /*used to vertically center all the contents in the footer*/
    display: inline-block;
    text-align: center;
    float: none;
}

.img-center {
    margin: 0 auto;
}

div.middle-align-block { /*used to vertically center all the contents in the footer*/
    display: block;
    vertical-align: middle;
    float: none;
}

.inner-center {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

.inner-presentation {
    color: #FFFFFF;
    position: absolute;
    top: 25%;
    left: 0;
    text-align: left;
}

.cn{
    display: flex;
    justify-content: center;
}
