.horizontal-align div { /*used to vertically center all the contents in the footer*/
    display: inline-block;
    text-align: center;
    float: none;
}

.img-center {
    margin: 0 auto;
}

div.middle-align-block { /*used to vertically center all the contents in the footer*/
    display: block;
    vertical-align: middle;
    float: none;
}

.inner-center {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

.inner-presentation {
    color: #FFFFFF;
    position: absolute;
    top: 20%;
    left: 0;
    padding-left: 3%;
}
.inner-presentation h1
{
    text-align: left;
    font-weight: 500;
    margin-bottom: 0px;
}
.inner-presentation h2
{
    text-align: left;
    font-weight: 100;
    margin-top: 0px;
}

@media only screen and (max-width: 1199px) 
{
    .inner-presentation h1
    { 
        font-size: 31px;
    }
    .inner-presentation h2 
    {
        font-size: 25px;
    }
    
    .inner-presentation 
    {
        top: 15%;
    }

}
@media only screen and (max-width: 991px) 
{

    .promotionbox1{

        position: absolute;
        margin: 25px 10px !important;
        border-radius: 25px;
        background-color: #004890;
        height: 125px;
        width: 250px;
        text-align: center;
        font-size: 40px;
        z-index: 6;
    }

    .promotionbox2{

        position: absolute;
        margin: 100px 25px 0px 10px !important;
        border-radius: 25px;
        background-color: #CCCCCC;
        height: 170px;
        width: 250px;
        text-align: center;
        font-size: 40px;
        z-index: 5;
    }

    .promotionbox3{


        margin: 10px !important;

    }

    .nomarginfull{

        margin-left:auto !important;
        margin-right: auto !important;
    }

    .resize{

        display: none;
    }

    .father-center{

        display: block !important;
    }

    .inner-presentation h1
    { 
        font-size: 25px;
    }
    .inner-presentation h2 
    {
        font-size: 20px;
    }
    
    .inner-presentation {
    color: #FFFFFF;
    position: absolute;
    top: 10%;
    left: 2%;
    padding-left: 3%;
}

}

@media only screen and (max-width: 767px) 
{
    .inner-presentation h1
    { 
        font-size: 25px;
        margin: 0;
    }
    .inner-presentation h2 
    {
        font-size: 17px;
        margin-top: 0px;
    }
    
  .inner-presentation 
    {
        color: #FFFFFF;
        position: absolute;
        top: 20%;
        left: 2%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 20px;
    }


}

@media only screen and (max-width: 450px) 
{
    .inner-presentation h1
    { 
        font-size: 20px;
        margin: 0;
    }
    .inner-presentation h2 
    {
        font-size: 15px;
        margin-top: 0px;
    }
    
    .inner-presentation 
    {
        color: #FFFFFF;
        position: absolute;
        top: 10%;
        left: 2%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 20px;
    }

}

@media only screen and (max-width: 360px) 
{
    .inner-presentation h1
    { 
        font-size: 20px;
        margin: 0;
    }
    .inner-presentation h2 
    {
        font-size: 15px;
        margin-top: 0px;
    }
    
    .inner-presentation 
    {
        color: #FFFFFF;
        position: absolute;
        top: 0%;
        left: 0;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 20px;
    }

}


.cn{
    display: flex;
    justify-content: center;
}

.promotiontile{

    position: relative;
    width: 300px;
    height: 300px;
}

.promotionbox1{

    position: absolute;
    margin: 25px;
    border-radius: 25px;
    background-color: #004890;
    height: 125px;
    width: 250px;
    text-align: center;
    font-size: 40px;
    z-index: 6;
}

.promotionbox2{

    position: absolute;
    margin: 100px 25px 25px 25px;
    border-radius: 25px;
    background-color: #CCCCCC;
    height: 170px;
    width: 250px;
    text-align: center;
    font-size: 40px;
    z-index: 5;
}

.promotionbox3{

    position: absolute;
    margin: 40px 25px;
    border-radius: 25px;
    background-color: #CCCCCC;
    height: 250px;
    width: 250px;
    text-align: center;
    font-size: 40px;
    z-index: 5;
}

.button-next{

    width: 15%;
}

.father-center{

    display: flex;
    justify-content: center;
}

.child-center{

    margin: auto;
    align-self: center;
}

.marginforrow{

    margin: 7% 0%;
}

.marginLR{

    margin-left: 0;
    margin-right: auto;
}

.nomarginfull{

    margin:0;
}

.description{

    font-size: 20px;
}

.description-white{

    color: white;
}

.description-black{

    color: black;
}

.description-red{

    color: #EB0028;
}

.description-blu{

    color: #004890;
}

.text-bold{

    font-weight: bold;
}

.text-light{

    font-weight: lighter;
}

.devicesize{

    height: 200px;
}

.img100{

    width: 100%;
}

.SLsize{

    margin: 20px 30px;
    height: 45px;
    width: 190px;
}

.resize{

}

.arrowpromotion{

    margin-top: 2%;
    height: 65px;
    width: 65px;
}

.text-center{

    text-align: center;
}

.background-blu{

    background-color: #06377C;
}
