#top-large a, #top-large img {
    height: 5rem;
    line-height: 3.5rem;
}

#top-large ul, #top-large li {   
    display: inline-block;
}

#top-large li {
	margin-top: 0.8rem;
	margin-bottom: -0.8rem;
}

@media (max-width:1200px) and (min-width:768px) {
	#top-large div a:first-child {
		margin-left: 2rem;
	}
}

/* BACKGROUND AND POSITIONS */
#logo-large {
    padding: 0;
    background-color: white;
}

#top-large .left, #top-large .wave {
    background-color: #f0f0f0;
}

#top-large .right, #top-large .right-border {
    background-color: #cccccc;
}

#top-large .wave img, #top-large .right-border img {
    float: right;
}



/* DISTRIBUIRE ORIZZONTALMENTE I LINK */

#top-large div.left, #top-large div.right, #top-large div.wave, #top-large div.right-border {
    padding: 0;
}

#top-large ul {
    width: 100%;
}

#top-large ul, #top-large li, #top-large a {
    text-align: center;
}

/* GENERAL STYLE */ 
#top-large a {
    color: black;
    font-size: 1.8rem;
    line-height: 5rem;
    height: 5rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
}

#top-large a:first-child, #top-large a:first-child:hover {
	margin-left: 1.6rem;
	margin-right: -1.6rem;
	
}

#top-large .current-link, #top-large a:hover  {
	border-bottom: solid 7px #004890; 
	text-decoration: none;
}


/* SMALL */
#top-small img {
	height: 5rem;
}
#top-menu-button-small {
	padding-right: 2rem;
}

#top-small .first-menu a:first-child {
	margin-top: 2rem;
}

#top-small a {
	padding: 0 3rem;
    font-size: 1.6rem;
    line-height: 3.2rem;
    display: inline-block;
    width: 100%;
}
#top-small .first-menu a {
	color: white;
	background-color: #004592;
}
#top-small .second-menu a{
	color: #004592;
	background-color: #CCCCCC;
}

