div.sottomenugrigiodiv{
       
    padding: 13px 0px 6px 0px;    
    background-color: #F0F0F0;
    border-bottom: solid 7px #F0F0F0;
}

#cellasottolineatablu{
    
    border-bottom: solid 7px #004890;
}