html * {
	font-family: 'calibri', Tahoma; 
}

h1, h2 {
	font-weight: bold;
	text-align: center;
}

p span.bigger {
	font-size: 18px;
}

.titoloblu, .blu-title {
	color: #004890;
	text-align: center;
}

p.center {
	text-align: center;
	line-height: 25px;
}

/**********************************************/
/*************BLUE & GREY BAR******************/
/**********************************************/

.sfondoblu, .blu-background {
	background-color: #004890;
    border-bottom: 4px solid #004890;
    
}
.blu-background a{
	color: #FFFFFF;
}
.blu-background a:hover{
	color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 5px;
}

.blu-background div:hover {
    border-bottom: 4px solid white;

}

.sfondogrigio, .grey-background {
	background-color: #F0F0F0;
	color: #000000;
}

.titolorosso, .red-title {
	color: #FF0000;
}

.nopadding {
	padding-left: 0px;
	padding-right: 0px;
}

div.sottomenugrigiodiv, .grey-submenu {
	padding: 13px 0px 6px 0px;
	background-color: #F0F0F0;
	border-bottom: solid 7px #F0F0F0;
}

#cellasottolineatablu, .blu-underlined-cell {
	border-bottom: solid 7px #004890;
}


/*GUIDO*/

.immaginepresentazione {
	width: 100%;
}


.barratitolo, .title-bar {
	padding: 15px 0px;
	text-align: center;
	font-size: 20px;
}

p.big {
	font-size: 25px;
}


/* MENU */

.blu-menu {
	background-color: #004890;
}

.blu-menu a {
	color: white;
	text-align: center;
	font-size: 22px;
	margin: auto;
	display: block;
	padding: 4px 0;
}

.blu-menu a:hover {
	text-decoration: none;
}
.blu-menu div {
	border-bottom: 5px solid #004890;
}

.blu-menu div:hover , .blu-menu div.current-link {
	border-bottom: 5px solid white;
	border-left: 20px solid #004890;
	border-right: 20px solid #004890;
}


.grey-menu {
	background-color: #f0f0f0;
}

.grey-menu a {
	color: black;
	text-align: center;
	font-size: 22px;
	margin: auto;
	display: block;
	padding: 4px 0;
}

.grey-menu a:hover {
	text-decoration: none;
}
.grey-menu div {
	border-bottom: 5px solid #f0f0f0;
}

.grey-menu div:hover , .grey-menu div.current-link {
	border-bottom: 5px solid #004890;
}
