html * {
	font-family: 'calibri', Tahoma; 
}

h1, h2 {
	font-weight: bold;
	text-align: center;
}

p span.bigger {
	font-size: 18px;
}

.titoloblu, .blu-title {
	color: #004890;
	text-align: center;
}

p.center {
	text-align: center;
	line-height: 25px;
}

.titolorosso, .red-title {
	color: #eb0028
}

.nopadding {
	padding-left: 0px;
	padding-right: 0px;
}

.nopaddingfull{
    padding: 0px;
}

#cellasottolineatablu, .blu-underlined-cell {
	border-bottom: solid 7px #004890;
}


/*GUIDO*/

.immaginepresentazione {
	width: 100%;
}


.barratitolo, .title-bar {
	padding: 15px 0px;
	text-align: center;
	font-size: 20px;
}

p.big {
	font-size: 25px;
}


/* MENU */

@media screen and (min-width: 768px) {


}


.blu-menu {
	background-color: #004890;
}

.blu-menu a {
	color: white;
	text-align: center;
	font-size: 22px;
	margin: auto;
	display: block;
	padding: 4px 0;
}

.blu-menu a:hover {
	text-decoration: none;
}
.blu-menu div {
	border-bottom: 5px solid #004890;
}

.blu-menu div:hover , .blu-menu div.current-link {
	border-bottom: 5px solid white;
	border-left: 20px solid #004890;
	border-right: 20px solid #004890;
}


.grey-menu {
	background-color: #f0f0f0;
}

.grey-menu a {
	color: black;
	text-align: center;
	font-size: 22px;
	margin: auto;
	display: block;
	padding: 4px 0;
}

.grey-menu a:hover {
	text-decoration: none;
}
.grey-menu div {
	border-bottom: 5px solid #f0f0f0;
}

.grey-menu div:hover , .grey-menu div.current-link {
	border-bottom: 5px solid #004890;
}

.grey-menu img.center {
	padding: 30px;
}

.grey-red-menu {
	background-color: #f0f0f0;
}

.grey-red-menu a {
	color: black;
	text-align: center;
	font-size: 22px;
	margin: auto;
	display: block;
	padding: 4px 0;
}

.grey-red-menu a:hover {
	text-decoration: none;
}
.grey-red-menu div {
	border-bottom: 5px solid #f0f0f0;
}

.grey-red-menu div:hover , .grey-red-menu div.current-link {
	border-bottom: 5px solid #eb0028;
}

.grey-red-menu img {
	padding: 30px;
}


/*MENU MOBILE */

.blu-menu div, .grey-menu div, .grey-red-menu div {
	height: 5rem;
	z-index: 500;
}

.blu-menu img, .grey-menu img, .grey-red-menu img {
	padding: 0;
	height: 90%;
	padding-top: 5%;
	padding-left: 12%;
}

.menu-header , .menu-header div, .menu-header div:hover {
	border: 0 !important;
}
