html {
    font-size: 62.5%;
    font-family: Arial;
}

#content {
	margin-top: 3rem;
}

@media only screen and (max-width: 768px) {

	#content {
		padding: 0 1.5rem;
	}
	
}

/* FOOTER */

#footer {
    background-color: #004890;
    margin-top: 2rem;
    padding: 1rem 0;
}

#footer-logo img {
    height: 8rem;
}
#footer-social {
    padding-left: 0;	
}

#footer-social img {
    height: 2rem;
}

.middle-align div { /*used to vertically center all the contents in the footer*/
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#footer a {
	width: 100%;
	display: inline-block;
}

/* FOOTER MENU */

#footer-social {
    text-align: center;
}

#footer ul {
	list-style-type:none; 
}

#footer a, #footer div, #footer p {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 130%;
}