#main-image {
	background-image: url(http://guidoantoniomatteo.altervista.org/tim/img/device/single-category/titolo-device.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
	background-color: #015cab;
}

#main-text h3 {
	color: white;
	padding: 15px;
	text-transform: uppercase;
}

#devices-view {
	margin-top: 20px;
	border-top: solid 4px #015CAB;
}

#devices-menu {
	background-color: #015cab;
	padding: 20px;
}

#devices-menu span {
	font-size: 20px;
}

#devices-menu a {
	font-size: 16px;
}

#devices-menu div, #devices-menu span {
	color: white;
	display: block;
	width: 100%;
}

#devices-menu input {
	margin-left: 15px; 
}

#devices-list {
	background-color: white;
}


@media (max-width: 767px) {
	#main-image {
		height: 200px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {

	#main-image {
		height: 250px;
	}

}
@media (min-width: 992px) and (max-width: 1199px) { 

	#main-image {
		height: 300px;
	}

}
@media (min-width: 1200px) { 

	#main-image {
		height: 350px;
	}

}
